[user]
	name = Jonathan Boulle
	email = jonathanboulle@gmail.com
[push]
	default = simple
[core]
	editor = vim
[color]
	ui = auto
[alias]
	br = branch
	co = checkout
	ci = commit
	ca = commit -a
	p = pull
	st = status -sb
	stat = status
