[user]
	name = Jonathan Boulle
	email = jonathanboulle@gmail.com
[push]
	default = upstream
[core]
	editor = /usr/bin/vim
[color]
	ui = auto
[alias]
	branch-name = !git rev-parse --abbrev-ref HEAD
	br = branch
	brt = branch --sort=committerdate
	ca = commit -am
	ci = commit
	co = checkout
	d = diff
	p = pull
	pf = push --force
	pu = !CURRENT=$(git branch-name) && git push --set-upstream jonboulle $CURRENT
	ri = rebase -i
	ru = rebase -i upstream-master
	s = status
	st = status -sb
	stat = status
[commit]
	template = /home/jon/.gittemplate
